---
layout: default
title:
menu: index
---


<div class="container"
     style="background-image:url('images/lake.bmp');background-repeat: no-repeat;background-size: 100% 100%;">

    {% include page-title.html title="" %}

    <div class="row row-cards">
        <div class="col-md-12">
            <div class="alert" style="margin-bottom: 0;">We now focus the analysis on the set of bird calls supplied by Kasios. Does this set support the claim of Pipits being found across the Preserve.<br/>
                An analysis on the audio features was made, comparing the audio files provided by Kasios and the files provided by the university.
            </div>
        </div>
        <div class="col-md-12">
            <div class="alert alert-warning">
                The following features were analysed from those files: Septogram, Power, Frecunecy and RMS.
            </div>
        </div>


        <div class="col-lg-6" >
            {% include cards/frecuency-university.html %}
        </div>
        <div class="col-lg-6" >
            {% include cards/frecuency-kasios.html %}
        </div>

    </div>

    <div class="row row-cards">
        <div class="col-lg-6" >
            {% include cards/power-university.html %}
        </div>
        <div class="col-lg-6" >
            {% include cards/power-kasios.html %}
        </div>
    </div>
    <div class="col-md-12">
        <div class="alert" style="margin-bottom: 0;">As a summary of the analysis we compare the Signal Root Mean Square which allows as to reduce each audio to a unique value.<br/>
            The following images shows the difference between both datasets. It is clear that Kasios audios belong to a different specie.

        </div>
    </div>
    <div class="row row-cards">
        <div class="col-lg-6" >
            {% include cards/comparison2.html %}
        </div>
        <div class="col-lg-6" >
            {% include cards/comparison1.html %}
        </div>
    </div>
</div>
